<!DOCTYPE html>
<html>
<head>
    <title class="center">ITU SMART CAMPUS PLATFORM ADD DATA</title>
   
</head>
    
<body > 
    <form class = "data-form" method="POST" action ="/data">
        <div class="container">
          <h1>ADD SMART DATA</h1>
          <hr>
      
          <label for="username"><b>Data Type</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="username" required><br/>
      
          <label for="password"><b>Value</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="password" required><br/>
      
          <label for="username"><b>Longtitute</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="username" required><br/>
      
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="username" required><br/>
      
          <hr>
          <input type="submit" class="registerbtn"></input>
        </div>
        
      </form>
</body>
</html>