{% extends "layout.html" %}

{% block headcontent %}
<link rel="stylesheet" href="/../static/manager_style.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/../static/manager_comparison.js" type="text/javascript"></script>
<script src="../static/input.js"></script>  
{% endblock headcontent %}

{% block content %}
<input type="hidden" id="pass_input" name="variable" value="{{ inputs}}">
<input type="hidden" id="pass_data" name="variable" value="{{ data}}">
<div class="w3-container">
    <form method="POST">
        <div id="manager_input_selection">
            <input type="hidden" id="sing_or_multi" name="sing_or_multi" value="single">
            <input type=button id="single_button" value="Single Input" onclick="bring_single()">
            <input type=button id="multiple_button" value="Multiple Input" onclick="bring_multiple()">
            <div id="single_input">
                <div id="time_interval_selection">
                    <div id="first_time_interval">
                        <label for="Start 1"> Start 1:</label>
                        <input type="date" id="start_date_1" name="Start1" min="2020-01-01" max="2021-02-05">
                        <label for="End 1"> End 1:</label>
                        <input type="date" id="end_date_1" name="End1" min="2020-01-01" max="2021-02-05">
                    </div>
                    <div id="second_time_interval">
                        <label for="Start 2"> Start 2:</label>
                        <input type="date" id="start_date_2" name="Start2" min="2020-01-01" max="2021-02-05">
                        <label for="End 2"> End 2:</label>
                        <input type="date" id="end_date_2" name="End2" min="2020-01-01" max="2021-02-05">
                    </div>
                </div>
                <div id="input_data_selection">
                    <label for="inputs-select">Please choose an input data: </label>
                    <select name="input_data" id="input_data" required>
                        <option value="">------------------</option>
                        <option value="air_quality">Air Quality</option>
                        <option value="population">Population</option>
                        <option value="ligthning">Lightning</option>
                        <option value="crowdedness">Crowdedness</option>
                        <option value="indoor_voice">Indoor Voice Activity(Acoustic)</option>
                        <option value="outdoor_voice">Outdoor Voice Activity(Acoustic)</option>
                    </select>  
                </div>
            </div>
            <div id="mutliple_input" style="display:none;">
                <div id="time_interval_selection">
                    <label for="Start"> Start:</label>
                    <input type="date" id="start_date" name="Start" min="2020-01-01" max="2021-02-05">
                    <label for="End"> End:</label >
                    <input type="date" id="end_date" name="End" min="2020-01-01" max="2021-02-05">
                </div>
    
                <div id="input_data_1_selection">
                    <label for="inputs-select">Please choose an input data: </label>
                    <select name="input_data_1" id="input_data_1">
                        <option value="">------------------</option>
                        <option value="air_quality">Air Quality</option>
                        <option value="population">Population</option>
                        <option value="ligthning">Lightning</option>
                        <option value="crowdedness">Crowdedness</option>
                        <option value="indoor_voice">Indoor Voice Activity(Acoustic)</option>
                        <option value="outdoor_voice">Outdoor Voice Activity(Acoustic)</option>
                    </select>  
                </div>
    
                <div id="input_data_2_selection">
                    <label for="inputs-select">Please choose an input data: </label>
                    <select name="input_data_2" id="input_data_2">
                        <option value="">------------------</option>
                        <option value="air_quality">Air Quality</option>
                        <option value="population">Population</option>
                        <option value="ligthning">Lightning</option>
                        <option value="crowdedness">Crowdedness</option>
                        <option value="indoor_voice">Indoor Voice Activity(Acoustic)</option>
                        <option value="outdoor_voice">Outdoor Voice Activity(Acoustic)</option>
                    </select>  
                </div>
    
                <div id="input_data_optional_selection">
                    <label for="inputs-select">(Optional) Please choose an input data: </label>
                    <select name="input_data_3" id="input_data_3">
                        <option value="">------------------</option>
                        <option value="air_quality">Air Quality</option>
                        <option value="population">Population</option>
                        <option value="ligthning">Lightning</option>
                        <option value="crowdedness">Crowdedness</option>
                        <option value="indoor_voice">Indoor Voice Activity(Acoustic)</option>
                        <option value="outdoor_voice">Outdoor Voice Activity(Acoustic)</option>
                    </select>  
                </div>
            </div>
            <input type="submit" id="generate_stats" value="Generate Statistics"></input>
        </div>
    </form>

    {% if error != None %}
    <div id='error_msg'> {{error}} </div>
    {% endif %}
    
    <div id="comparison"></div>

    <div id="information">
        Here you see the comparison between A and B in line chart.
        <br/>
        You can always adjust your data setting from top.
        <br/>
    </div>
    
</div>
{% endblock content %}