{% extends "layout.html" %}
{% block content %}
<div class="w3-container" style="  color:black; font-size: xx-large; ">
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform
    Welcome to the Istanbul Technical University Smart Campus Platform

</div>
{% endblock content %}